CONFIG_HAPPY_HARE_VERSION="4.0.0"
CONFIG_MMU_UNITS="unit0"
CONFIG_UNIT_NAME="unit0"
CONFIG_MCU_NAME="unit0"
CONFIG_UNIT_INDEX=0
CONFIG_MMU_HAS_SENSOR_TOOLHEAD=y
CONFIG_MMU_HAS_SENSOR_EXTRUDER=y
#                                                     
#   (\_/)                                             
#   ( *,*)                                            
#   (")_(") Configuration - Unit: [[B]]unit0[[/B]]               
#                                                     
CONFIG_PARAM_TOOLHEAD_TYPE="Other/Unknown" #~DEFAULT~#
CONFIG_PARAM_TOOLHEAD="default" #~DEFAULT~#
# CONFIG_TOOLHEAD_TYPE_A4T_WWBMG_BAMBU_TZ3 is not set
CONFIG_PARAM_TOOLHEAD_EXTRUDER_TO_NOZZLE="98.4"
CONFIG_PARAM_TOOLHEAD_SENSOR_TO_NOZZLE="62" #~DEFAULT~#
CONFIG_PARAM_TOOLHEAD_ENTRY_TO_EXTRUDER="8" #~DEFAULT~#
CONFIG_PARAM_TOOLHEAD_RESIDUAL_FILAMENT="22"
# CONFIG_TOOLHEAD_TYPE_A4T_WWBMG_DRAGON_ACE_VOLCANO_MZE is not set
# CONFIG_TOOLHEAD_TYPE_A4T_WWBMG_DRAGON_HF_MZE is not set
# CONFIG_TOOLHEAD_TYPE_A4T_WWBMG_FOR_A4T_DRAGON_ACE is not set
# CONFIG_TOOLHEAD_TYPE_A4T_WWBMG_RAPIDO2_PLUS_HF is not set
# CONFIG_TOOLHEAD_TYPE_A4T_WWBMG_REVO_VORON is not set
# CONFIG_TOOLHEAD_TYPE_A4T_WWG2_DRAGON_HF_MZE is not set
# CONFIG_TOOLHEAD_TYPE_AFTERBURNER_CLOCKWORK_DRAGON_HF is not set
# CONFIG_TOOLHEAD_TYPE_ANTHEAD_WWBMG_RAPIDO_2_HF is not set
# CONFIG_TOOLHEAD_TYPE_ANTHEAD_WWG2_REVO_VORON is not set
# CONFIG_TOOLHEAD_TYPE_ANTHEAD_WWG2_TZV6 is not set
# CONFIG_TOOLHEAD_TYPE_DIPLODUCT_BMG_ENDER_3_V2 is not set
# CONFIG_TOOLHEAD_TYPE_E34M1_SHERPA_MINI_ALPS_V6 is not set
# CONFIG_TOOLHEAD_TYPE_ENDER3_V3_KE is not set
# CONFIG_TOOLHEAD_TYPE_JABBERWOCKY is not set
# CONFIG_TOOLHEAD_TYPE_QIDI_Q1_PRO is not set
# CONFIG_TOOLHEAD_TYPE_STEALTHBURNER_CLOCKWORK2_DRAGON_HF is not set
# CONFIG_TOOLHEAD_TYPE_STEALTHBURNER_CLOCKWORK2_RAPIDO_HF is not set
# CONFIG_TOOLHEAD_TYPE_STEALTHBURNER_CLOCKWORK2_REVO is not set
# CONFIG_TOOLHEAD_TYPE_STEALTHBURNER_CLOCKWORK2_REVO_VORON is not set
# CONFIG_TOOLHEAD_TYPE_STEALTHBURNER_G2E_DRAGON_HF is not set
# CONFIG_TOOLHEAD_TYPE_STEALTHBURNER_G2E_RAPIDO_HF is not set
# CONFIG_TOOLHEAD_TYPE_STEALTHBURNER_G2E_REVO is not set
# CONFIG_TOOLHEAD_TYPE_XOL_METRIX_SHERPA_MINI_CNC_RAPIDO_1_UHF is not set
CONFIG_CHOICE_TOOLHEAD_TYPE_OTHER=y #~DEFAULT~#
CONFIG_ADDON_BLOBIFIER=y
CONFIG_PIN_BLOBIFIER_SERVO="PG14"
CONFIG_PIN_BLOBIFIER_BUCKET_SWITCH="PG15"
# CONFIG_ADDON_EREC_CUTTER is not set
# CONFIG_CHOICE_FORM_TIP_MACRO_FORM_TIP is not set #~DEFAULT~#
CONFIG_CHOICE_FORM_TIP_MACRO_CUT_TIP=y
# CONFIG_CHOICE_FORM_TIP_MACRO_OTHER is not set #~DEFAULT~#
CONFIG_FORM_TIP_MACRO_OTHER="-your-macro-"
CONFIG_PARAM_FORM_TIP_MACRO="_MMU_CUT_TIP" #~DEFAULT~#
CONFIG_BOOL_FORCE_FORM_TIP_STANDALONE=y #~DEFAULT~#
CONFIG_PARAM_FORCE_FORM_TIP_STANDALONE=1 #~DEFAULT~#
CONFIG_PARAM_SLICER_TIP_PARK_POS="0" #~DEFAULT~#
CONFIG_PARAM_EXTRUDER_FORM_TIP_CURRENT=100 #~DEFAULT~#
# CONFIG_CHOICE_PURGE_MACRO_PURGE is not set #~DEFAULT~#
CONFIG_CHOICE_PURGE_MACRO_BLOBIFIER=y
# CONFIG_CHOICE_PURGE_MACRO_OTHER is not set #~DEFAULT~#
CONFIG_PURGE_MACRO_OTHER="-your-macro-"
CONFIG_PARAM_PURGE_MACRO="BLOBIFIER" #~DEFAULT~#
# CONFIG_BOOL_FORCE_PURGE_STANDALONE is not set
CONFIG_PARAM_FORCE_PURGE_STANDALONE=0 #~DEFAULT~#
CONFIG_PARAM_EXTRUDER_PURGE_CURRENT=100 #~DEFAULT~#
CONFIG_BOOL_ENDLESS_SPOOL_ENABLED=y
CONFIG_PARAM_ENDLESS_SPOOL_ENABLED=1 #~DEFAULT~#
CONFIG_CHOICE_SPOOLMAN_SUPPORT_OFF=y #~DEFAULT~#
# CONFIG_CHOICE_SPOOLMAN_SUPPORT_RO is not set #~DEFAULT~#
# CONFIG_CHOICE_SPOOLMAN_SUPPORT_PUSH is not set #~DEFAULT~#
# CONFIG_CHOICE_SPOOLMAN_SUPPORT_PULL is not set #~DEFAULT~#
CONFIG_PARAM_SPOOLMAN_SUPPORT="off" #~DEFAULT~#
# CONFIG_INSTALL_12864_MENU is not set
CONFIG_INSTALL_CLIENT_MACROS=y
CONFIG_PARAM_GEAR_FROM_FILAMENT_BUFFER_SPEED=150 #~DEFAULT~#
CONFIG_PARAM_GEAR_FROM_FILAMENT_BUFFER_ACCEL=400 #~DEFAULT~#
CONFIG_PARAM_GEAR_FROM_SPOOL_SPEED=80 #~DEFAULT~#
CONFIG_PARAM_GEAR_FROM_SPOOL_ACCEL=100 #~DEFAULT~#
CONFIG_PARAM_GEAR_UNLOAD_SPEED=80 #~DEFAULT~#
CONFIG_PARAM_GEAR_UNLOAD_ACCEL=100 #~DEFAULT~#
CONFIG_PARAM_GEAR_HOMING_SPEED=50 #~DEFAULT~#
CONFIG_PARAM_GEAR_SHORT_MOVE_SPEED=80 #~DEFAULT~#
CONFIG_PARAM_GEAR_SHORT_MOVE_ACCEL=400 #~DEFAULT~#
CONFIG_PARAM_GEAR_SHORT_MOVE_THRESHOLD=70 #~DEFAULT~#
CONFIG_PARAM_EXTRUDER_LOAD_SPEED=16 #~DEFAULT~#
CONFIG_PARAM_EXTRUDER_UNLOAD_SPEED=16 #~DEFAULT~#
CONFIG_PARAM_EXTRUDER_SYNC_LOAD_SPEED=18 #~DEFAULT~#
CONFIG_PARAM_EXTRUDER_SYNC_UNLOAD_SPEED=18 #~DEFAULT~#
CONFIG_PARAM_EXTRUDER_HOMING_SPEED=16 #~DEFAULT~#
CONFIG_PARAM_EXTRUDER_ACCEL=1500 #~DEFAULT~#
CONFIG_PARAM_SELECTOR_MOVE_SPEED=200 #~DEFAULT~#
CONFIG_PARAM_SELECTOR_HOMING_SPEED=60 #~DEFAULT~#
CONFIG_PARAM_SELECTOR_TOUCH_SPEED=80 #~DEFAULT~#
CONFIG_PIN_EXTRUDER_SENSOR="" #~DEFAULT~#
CONFIG_PIN_TOOLHEAD_SENSOR="sht:LIMIT_1"
CONFIG_PIN_GANTRY_SERVO="unit0:gpio21"
# CONFIG_REPETIER is not set
# CONFIG_OCTOPRINT is not set
CONFIG_PARAM_HAPPY_HARE_HOME="/home/pi/Happy-Hare" #~DEFAULT~#
CONFIG_KLIPPER_HOME="~/klipper"
CONFIG_MOONRAKER_HOME="~/moonraker"
CONFIG_KLIPPER_CONFIG_HOME="~/printer_data/config"
CONFIG_PARAM_GCODES_PATH="~/printer_data/gcodes" #~DEFAULT~#
CONFIG_PRINTER_CONFIG_FILE="printer.cfg"
CONFIG_MOONRAKER_CONFIG_FILE="moonraker.conf"
CONFIG_PARAM_MMU_VARS_CFG="~/printer_data/config/mmu/mmu_vars.cfg" #~DEFAULT~#
CONFIG_SERVICE_KLIPPER="klipper.service"
CONFIG_SERVICE_MOONRAKER="moonraker.service"
CONFIG_INIT_SYSTEMD=y
CONFIG_PARAM_VENDOR="Tradrack" #~DEFAULT~#
CONFIG_PARAM_VERSION="1.0" #~DEFAULT~#
# CONFIG_MMU_TYPE_3D_CHAMELEON_1_0 is not set
# CONFIG_MMU_HAS_EJECT_BUTTONS is not set #~DEFAULT~#
CONFIG_MMU_HAS_ENCODER=y #~DEFAULT~#
# CONFIG_MMU_HAS_ENVIRONMENT_SENSOR is not set #~DEFAULT~#
# CONFIG_MMU_HAS_HEATER is not set #~DEFAULT~#
# CONFIG_MMU_HAS_ESPOOLER is not set #~DEFAULT~#
CONFIG_MMU_HAS_FILAMENT_BUFFER=y
# CONFIG_MMU_HAS_LEDS is not set #~DEFAULT~#
CONFIG_MMU_HAS_SYNC_FEEDBACK_BUFFER=y
CONFIG_PARAM_NUM_GATES=12
CONFIG_PARAM_GEAR_GEAR_RATIO="50:17" #~DEFAULT~#
CONFIG_PARAM_GEAR_RUN_CURRENT="1.27" #~DEFAULT~#
CONFIG_PARAM_GEAR_HOLD_CURRENT="0.2" #~DEFAULT~#
CONFIG_PARAM_SELECTOR_GEAR_RATIO="1:1" #~DEFAULT~#
CONFIG_PARAM_SELECTOR_RUN_CURRENT="0.60"
CONFIG_PARAM_SELECTOR_HOLD_CURRENT="0.4"
CONFIG_PARAM_SELECTOR_GATE_DIRECTIONS="[1, 1, 0, 0]" #~DEFAULT~#
CONFIG_PARAM_SELECTOR_RELEASE_GATES="[2, 3, 0, 1]" #~DEFAULT~#
CONFIG_PARAM_GATE_PARKING_DISTANCE="-17"
CONFIG_PARAM_GATE_HOMING_MAX="100" #~DEFAULT~#
# CONFIG_MMU_TYPE_3MS_1_0 is not set
# CONFIG_MMU_TYPE_ANGRY_BEAVER_1_0 is not set
# CONFIG_MMU_TYPE_BOX_TURTLE_1_0 is not set
CONFIG_PARAM_GATE_PRELOAD_HOMING_MAX="100" #~DEFAULT~#
CONFIG_PARAM_GATE_FINAL_EJECT_DISTANCE="0" #~DEFAULT~#
# CONFIG_MMU_FAMILY_ERCF is not set
CONFIG_PARAM_SERVO_MIN_PULSE_WIDTH=0.00070 #~DEFAULT~#
CONFIG_PARAM_SERVO_MAX_PULSE_WIDTH=0.00220 #~DEFAULT~#
CONFIG_PARAM_SERVO_MAX_ANGLE=131 #~DEFAULT~#
CONFIG_PARAM_SERVO_UP_ANGLE=145 #~DEFAULT~#
CONFIG_PARAM_SERVO_MOVE_ANGLE=145 #~DEFAULT~#
CONFIG_PARAM_SERVO_DOWN_ANGLE=1 #~DEFAULT~#
CONFIG_PARAM_SERVO_ALWAYS_ACTIVE=0 #~DEFAULT~#
CONFIG_PARAM_SERVO_DURATION=0.4 #~DEFAULT~#
CONFIG_PARAM_SERVO_DWELL=0.5 #~DEFAULT~#
# CONFIG_SERVO_TYPE_FEETECH_FT1117M is not set
CONFIG_SERVO_TYPE_JX_PS1171MG=y
# CONFIG_SERVO_TYPE_OTHER is not set
CONFIG_MOD_BINKY=y
# CONFIG_BOOL_HAS_BYPASS is not set #~DEFAULT~#
CONFIG_PARAM_HAS_BYPASS=0 #~DEFAULT~#
CONFIG_PARAM_SERVO_BUZZ_GEAR_ON_DOWN=0 #~DEFAULT~#
CONFIG_BOOL_SKIP_CAL_ENCODER=y #~DEFAULT~#
# CONFIG_MMU_TYPE_KMS_1_0 is not set
CONFIG_PARAM_GATE_PRELOAD_PARKING_DISTANCE="-10"
CONFIG_PARAM_GATE_ENDSTOP_TO_ENCODER="31" #~DEFAULT~#
CONFIG_PARAM_SYNC_FEEDBACK_BUFFER_RANGE="14.5"
CONFIG_PARAM_SYNC_FEEDBACK_BUFFER_MAXRANGE="14.5"
# CONFIG_MMU_TYPE_LOW_RIDER_1_0 is not set
# CONFIG_MMU_TYPE_MMX_1_0 is not set
# CONFIG_MMU_TYPE_MMX6_1_0 is not set
# CONFIG_MMU_TYPE_NIGHT_OWL_1_0 is not set
# CONFIG_MMU_TYPE_PICO_MMU_1_0 is not set
# CONFIG_MMU_FAMILY_QUATTRO_BOX is not set
CONFIG_MMU_TYPE_TRADRACK_1_0=y
#   Project Options
#   end of Project Options
# CONFIG_MMU_TYPE_VVD_1_0 is not set
CONFIG_PARAM_GEAR_ROTATION_DISTANCE="22.7316868" #~DEFAULT~#
CONFIG_PARAM_SELECTOR_ROTATION_DISTANCE="40" #~DEFAULT~#
# CONFIG_MMU_CUSTOM is not set
CONFIG_MMU_HAS_SELECTOR_STEPPER=y #~DEFAULT~#
CONFIG_MMU_HAS_SELECTOR_SERVO=y #~DEFAULT~#
CONFIG_PARAM_MISC_HARDWARE="" #~DEFAULT~#
CONFIG_LINEAR_SERVO_SELECTOR=y
CONFIG_PARAM_SELECTOR_TYPE="LinearServoSelector" #~DEFAULT~#
CONFIG_UNSELECT_VARIABLE_BOWDEN_LENGTHS=y #~DEFAULT~#
CONFIG_PARAM_VARIABLE_BOWDEN_LENGTHS=0 #~DEFAULT~#
CONFIG_BOOL_VARIABLE_ROTATION_DISTANCES=y #~DEFAULT~#
CONFIG_PARAM_VARIABLE_ROTATION_DISTANCES=1 #~DEFAULT~#
CONFIG_BOOL_REQUIRE_BOWDEN_MOVE=y #~DEFAULT~#
CONFIG_PARAM_REQUIRE_BOWDEN_MOVE=1 #~DEFAULT~#
# CONFIG_BOOL_FILAMENT_ALWAYS_GRIPPED is not set #~DEFAULT~#
CONFIG_PARAM_FILAMENT_ALWAYS_GRIPPED=0 #~DEFAULT~#
CONFIG_UNSELECT_CAN_CROSSLOAD=y #~DEFAULT~#
CONFIG_PARAM_CAN_CROSSLOAD=0 #~DEFAULT~#
# CONFIG_MMU_CUSTOM_TYPE_EVERYTHING is not set
#   MMU Additions/Modifications
#   end of MMU Additions/Modifications
CONFIG_PARAM_BOARD_TYPE="Mellow EASY-BRD v1" #~DEFAULT~#
# CONFIG_BOARD_TYPE_AFC_LITE_1_0 is not set
CONFIG_PIN_GEAR_UART="unit0:gpio9" #~DEFAULT~#
CONFIG_PIN_GEAR_STEP="unit0:gpio7" #~DEFAULT~#
CONFIG_PIN_GEAR_DIR="!unit0:gpio8"
CONFIG_PIN_GEAR_ENABLE="!unit0:gpio6" #~DEFAULT~#
CONFIG_PIN_GEAR_DIAG="unit0:gpio23" #~DEFAULT~#
CONFIG_PIN_ENTRY_SENSOR_0="^unit0:gpio10" #~DEFAULT~#
CONFIG_PIN_ENTRY_SENSOR_1="^unit0:gpio26" #~DEFAULT~#
CONFIG_PIN_ENTRY_SENSOR_2="^unit0:gpio11" #~DEFAULT~#
CONFIG_PIN_ENTRY_SENSOR_3="^unit0:gpio27" #~DEFAULT~#
CONFIG_PIN_NEOPIXEL="unit0:gpio14" #~DEFAULT~#
CONFIG_PIN_SHARED_EXIT_SENSOR="unit0:gpio14"
# CONFIG_BOARD_TYPE_CHAMELEON_X5_1_0 is not set
CONFIG_PIN_ENTRY_SENSOR_4="^unit0:gpio12" #~DEFAULT~#
CONFIG_PIN_ENCODER="^unit0:gpio15" #~DEFAULT~#
CONFIG_PIN_SYNC_FEEDBACK_ANALOG="unit0:gpio29"
# CONFIG_BOARD_TYPE_EASY_BRD is not set
CONFIG_PIN_SELECTOR_UART="unit0:gpio0" #~DEFAULT~#
CONFIG_PIN_SELECTOR_STEP="unit0:gpio2" #~DEFAULT~#
CONFIG_PIN_SELECTOR_DIR="unit0:gpio1" #~DEFAULT~#
CONFIG_PIN_SELECTOR_ENABLE="!unit0:gpio3" #~DEFAULT~#
CONFIG_PIN_SELECTOR_DIAG="unit0:gpio22" #~DEFAULT~#
CONFIG_PIN_SELECTOR_ENDSTOP="^unit0:gpio20" #~DEFAULT~#
CONFIG_PIN_SELECTOR_SERVO="unit0:gpio21" #~DEFAULT~#
# CONFIG_BOARD_TYPE_EASY_BRD_RP2040 is not set
# CONFIG_BOARD_TYPE_EBB42_1_2 is not set
# CONFIG_BOARD_TYPE_ERB_1 is not set
CONFIG_PIN_ENTRY_SENSOR_5="^unit0:gpio28" #~DEFAULT~#
CONFIG_PIN_ENTRY_SENSOR_6="^unit0:gpio24" #~DEFAULT~#
CONFIG_PIN_ENTRY_SENSOR_7="^unit0:gpio29" #~DEFAULT~#
CONFIG_PIN_ENTRY_SENSOR_8="^unit0:gpio13" #~DEFAULT~#
CONFIG_PIN_ENTRY_SENSOR_9="^unit0:gpio25" #~DEFAULT~#
# CONFIG_BOARD_TYPE_ERB_2 is not set
CONFIG_BOARD_TYPE_MELLOW_EASY_BRD_CAN_1=y
# CONFIG_BOARD_TYPE_MELLOW_EASY_BRD_CAN_2 is not set
# CONFIG_BOARD_TYPE_MMB_1_0 is not set
# CONFIG_BOARD_TYPE_MMB_1_1 is not set
# CONFIG_BOARD_TYPE_MMB_2_0 is not set
# CONFIG_BOARD_TYPE_SKR_PICO_1 is not set
# CONFIG_BOARD_TYPE_TZB_1_0 is not set
# CONFIG_BOARD_TYPE_WGB_3_0 is not set
# CONFIG_BOARD_TYPE_OTHER is not set
#   Pins / TMC
CONFIG_CHOICE_GEAR_TMC_2209=y #~DEFAULT~#
# CONFIG_CHOICE_GEAR_TMC_2130 is not set #~DEFAULT~#
# CONFIG_CHOICE_GEAR_TMC_2208 is not set #~DEFAULT~#
# CONFIG_CHOICE_GEAR_TMC_2660 is not set #~DEFAULT~#
# CONFIG_CHOICE_GEAR_TMC_5160 is not set #~DEFAULT~#
# CONFIG_CHOICE_GEAR_TMC_2240 is not set #~DEFAULT~#
CONFIG_PARAM_GEAR_TMC="tmc2209" #~DEFAULT~#
#     Gear pins
#     end of Gear pins
CONFIG_CHOICE_SELECTOR_TMC_2209=y #~DEFAULT~#
# CONFIG_CHOICE_SELECTOR_TMC_2130 is not set #~DEFAULT~#
# CONFIG_CHOICE_SELECTOR_TMC_2208 is not set #~DEFAULT~#
# CONFIG_CHOICE_SELECTOR_TMC_2660 is not set #~DEFAULT~#
# CONFIG_CHOICE_SELECTOR_TMC_5160 is not set #~DEFAULT~#
# CONFIG_CHOICE_SELECTOR_TMC_2240 is not set #~DEFAULT~#
CONFIG_PARAM_SELECTOR_TMC="tmc2209" #~DEFAULT~#
#     Selector pins
#     end of Selector pins
#     Sync-feedback Buffer
#     end of Sync-feedback Buffer
#     Addons
#     end of Addons
#   end of Pins / TMC
#   MCU connection
# CONFIG_CHOICE_MMU_CONNECTION_TYPE_SERIAL is not set #~DEFAULT~#
CONFIG_CHOICE_MMU_CONNECTION_TYPE_CANBUS=y
CONFIG_CHOICE_MMU_CANBUS_UUID_OTHER=y #~DEFAULT~#
CONFIG_MMU_CANBUS_UUID_OTHER="0cf6c395541c"
CONFIG_PARAM_MMU_CANBUS_UUID="0cf6c395541c" #~DEFAULT~#
#   end of MCU connection
#   Addon Macros
#     Blobifier pins
#     end of Blobifier pins
#   end of Addon Macros
#   Software Options
#   end of Software Options
#   Raw Settings
CONFIG_PARAM_EXTRUDER_NAME="extruder" #~DEFAULT~#
#     Design attributes
#     end of Design attributes
#     Speeds
#       Bowden movement speeds (mm/s)
#       Extruder movement speeds (mm/s)
#       Selector movement
#       end of Selector movement
#     end of Speeds
#     Toolhead dimensions and calibration
#     end of Toolhead dimensions and calibration
#     Gear stepper
#     end of Gear stepper
#     Selector stepper
CONFIG_PARAM_SELECTOR_ENDSTOP_NAME="mmu_sel_home" #~DEFAULT~#
# CONFIG_BOOL_SELECTOR_TOUCH_ENABLED is not set #~DEFAULT~#
CONFIG_PARAM_SELECTOR_TOUCH_ENABLED=0 #~DEFAULT~#
#     end of Selector stepper
#     Selector servo
# CONFIG_BOOL_SERVO_ALWAYS_ACTIVE is not set #~DEFAULT~#
# CONFIG_BOOL_SERVO_ACTIVE_DOWN is not set #~DEFAULT~#
CONFIG_PARAM_SERVO_ACTIVE_DOWN=0 #~DEFAULT~#
#     end of Selector servo
#     Filament sensors
# CONFIG_MMU_HAS_SENSOR_ENTRY is not set #~DEFAULT~#
# CONFIG_MMU_HAS_SENSOR_EXIT is not set #~DEFAULT~#
CONFIG_MMU_HAS_SENSOR_SHARED_EXIT=y #~DEFAULT~#
CONFIG_MMU_HAS_SENSOR_GEAR_TOUCH=y
#     end of Filament sensors
#     Endstops (Bowden move)
CONFIG_CHOICE_GATE_HOMING_ENDSTOP_GATE=y #~DEFAULT~#
# CONFIG_CHOICE_GATE_HOMING_ENDSTOP_ENCODER is not set #~DEFAULT~#
# CONFIG_CHOICE_GATE_HOMING_ENDSTOP_EXTRUDER is not set #~DEFAULT~#
# CONFIG_CHOICE_GATE_HOMING_ENDSTOP_NONE is not set #~DEFAULT~#
CONFIG_PARAM_GATE_HOMING_ENDSTOP="mmu_shared_exit" #~DEFAULT~#
CONFIG_CHOICE_GATE_PRELOAD_ENDSTOP_DEFAULT=y #~DEFAULT~#
CONFIG_PARAM_GATE_PRELOAD_ENDSTOP="" #~DEFAULT~#
# CONFIG_CHOICE_EXTRUDER_HOMING_ENDSTOP_EXTRUDER is not set #~DEFAULT~#
# CONFIG_CHOICE_EXTRUDER_HOMING_ENDSTOP_TOUCH is not set #~DEFAULT~#
CONFIG_CHOICE_EXTRUDER_HOMING_ENDSTOP_ENCODER=y #~DEFAULT~#
# CONFIG_CHOICE_EXTRUDER_HOMING_ENDSTOP_NONE is not set #~DEFAULT~#
CONFIG_PARAM_EXTRUDER_HOMING_ENDSTOP="encoder" #~DEFAULT~#
#     end of Endstops (Bowden move)
#     Gate loading & parking
#     end of Gate loading & parking
#     MMU/Extruder sync
CONFIG_BOOL_ENABLE_SYNC_FEEDBACK=y #~DEFAULT~#
CONFIG_PARAM_SYNC_FEEDBACK_ENABLED=1 #~DEFAULT~#
CONFIG_BOOL_ENABLE_SYNC_TO_EXTRUDER=y
CONFIG_PARAM_SYNC_TO_EXTRUDER=1 #~DEFAULT~#
CONFIG_PARAM_SYNC_GEAR_CURRENT=30
CONFIG_BOOL_ENABLE_SYNC_FORM_TIP=y
CONFIG_PARAM_SYNC_FORM_TIP=0 #~DEFAULT~#
CONFIG_BOOL_ENABLE_SYNC_PURGE=y
CONFIG_PARAM_SYNC_PURGE=1 #~DEFAULT~#
#     end of MMU/Extruder sync
#     FlowGuard (clog/tangle/runout detection)
CONFIG_BOOL_FLOWGUARD_ENABLED=y #~DEFAULT~#
CONFIG_PARAM_FLOWGUARD_ENABLED=1 #~DEFAULT~#
CONFIG_PARAM_FLOWGUARD_MAX_RELIEF=40 #~DEFAULT~#
# CONFIG_BOOL_FLOWGUARD_ENCODER_MODE is not set #~DEFAULT~#
CONFIG_PARAM_FLOWGUARD_ENCODER_MODE=0 #~DEFAULT~#
CONFIG_PARAM_FLOWGUARD_ENCODER_MAX_MOTION=20 #~DEFAULT~#
#     end of FlowGuard (clog/tangle/runout detection)
#     Calibration/Autotuning
# CONFIG_BOOL_AUTOCAL_BOWDEN_LENGTH is not set #~DEFAULT~#
CONFIG_PARAM_AUTOCAL_BOWDEN_LENGTH=0 #~DEFAULT~#
# CONFIG_BOOL_AUTOTUNE_BOWDEN_LENGTH is not set #~DEFAULT~#
CONFIG_PARAM_AUTOTUNE_BOWDEN_LENGTH=0 #~DEFAULT~#
CONFIG_BOOL_SKIP_CAL_ROTATION_DISTANCE=y #~DEFAULT~#
CONFIG_PARAM_SKIP_CAL_ROTATION_DISTANCE=1 #~DEFAULT~#
# CONFIG_BOOL_AUTOTUNE_ROTATION_DISTANCE is not set
CONFIG_PARAM_AUTOTUNE_ROTATION_DISTANCE=0 #~DEFAULT~#
CONFIG_PARAM_SKIP_CAL_ENCODER=1 #~DEFAULT~#
# CONFIG_BOOL_AUTOTUNE_ENCODER is not set #~DEFAULT~#
CONFIG_PARAM_AUTOTUNE_ENCODER=0 #~DEFAULT~#
#     end of Calibration/Autotuning
#     Encoder config
CONFIG_PARAM_ENCODER_NAME="unit0" #~DEFAULT~#
# CONFIG_CHOICE_ENCODER_TYPE_BINKY is not set #~DEFAULT~#
CONFIG_CHOICE_ENCODER_TYPE_BINKY_V2=y
# CONFIG_CHOICE_ENCODER_TYPE_TCRT5000 is not set #~DEFAULT~#
# CONFIG_CHOICE_ENCODER_TYPE_OTHER is not set #~DEFAULT~#
CONFIG_PARAM_ENCODER_RESOLUTION="1.5" #~DEFAULT~#
#     end of Encoder config
#     Buffer config
CONFIG_PARAM_SYNC_FEEDBACK_BUFFER_NAME="unit0" #~DEFAULT~#
# CONFIG_MMU_HAS_SENSOR_SYNC_FEEDBACK_COMPRESSION is not set
# CONFIG_MMU_HAS_SENSOR_SYNC_FEEDBACK_TENSION is not set
CONFIG_MMU_HAS_SENSOR_SYNC_FEEDBACK_PROPORTIONAL=y
#     end of Buffer config
#   end of Raw Settings
#   Paths & Services
#   end of Paths & Services
